# Секретные данные и настройки окружения
.env

# Виртуальное окружение Python
venv/
ENV/
env/

# Файлы компиляции Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# База данных (если вдруг решишь протестировать SQLite)
*.sqlite3

# Медиа файлы пользователей (чтобы не забивать репозиторий картинками объявлений)
/media/

# Настройки твоей IDE (VS Code или PyCharm)
.vscode/
.idea/
