{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Авито Клон{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'ads/css/style.css' %}">
</head>
<body>

    <header class="header">
        <div class="container header-content">
            <a class="logo" href="/">Авито Клон</a>
            <a href="#" class="btn-primary">+ Разместить объявление</a>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

</body>
</html>
